input[type=checkbox] {
	visibility:hidden;
}


.container{
	background-color: darkgrey;
}


.led{
	display: inline-block;
	height: 15px;	
	width: 15px;
	

}

.led label{
	background-color:black;
	cursor: pointer;
	border: none;
	width: 15px;
	height: 15px;
	position: relative;
	border-radius: 10px;
}

.led input[type=checkbox]:checked + label{
	background-color:#00FF22;
}

